* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
}

a {
  text-decoration: none;
}

#page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#header {
  width: 100%;
  position: fixed;
  background: #00243e;
}

.wrapper {
  padding: 0 15px;
}

.header-container {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: none;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.logo .logo-words {
  color: #24a3ff;
}
.logo a {
  color: #ffd700;
}
.logo a:hover {
  border-top: 2px dotted #24a3ff;
  border-bottom: 2px dotted #ffd700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 4px 0;
}
.logo span {
  color: #ff5c5c;
}

.navigation {
  padding: 0;
}
.navigation:active {
  background: #95959c;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.burger span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 2px;
  background: #98d4ff;
  position: absolute;
  left: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
}
.burger span:first-child {
  top: 6px;
}
.burger span:nth-child(2) {
  top: 14px;
}
.burger span:nth-child(3) {
  top: 14px;
}
.burger span:last-child {
  top: 22px;
}

.check-burger {
  width: 32px;
  height: 32px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.check-burger:checked + .burger span:first-child {
  top: -10px;
  opacity: 0;
}
.check-burger:checked + .burger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.check-burger:checked + .burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.check-burger:checked + .burger span:last-child {
  top: 60px;
  opacity: 0;
}
.check-burger:checked + .burger + .nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 14px;
  right: 14px;
  bottom: 0;
  border-radius: 14px;
  background-color: #0b1524;
  z-index: 1;
  padding: 64px 12px 12px;
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav a {
  text-decoration: none;
  background: #263540;
  border-radius: 12px;
  width: 100%;
  text-align: center;
}
.nav a:active {
  background: #e6e6f0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav a:hover:not(.nav-active-link) {
  color: #ffe86a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav .jsknow {
  color: #ff5c5c;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #289e7c;
  padding: 7px 0;
}

.nav-active-link {
  color: #ffe86a;
  margin-left: 0;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
  color: #ec6f5d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.un-active-navbar {
  display: none;
}

#methods {
  margin-top: 150px;
}

.array-methods-title h1 {
  color: #acdeff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.array-methods-title h3 {
  color: #f5ffb9;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.array-methods-title p {
  color: #eee;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.array-methods-title p a {
  color: #009aff;
}

.array-methods-list {
  text-align: center;
  margin-top: 30px;
}
.array-methods-list h2 {
  color: #49ffaf;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.array-methods-list ul {
  margin: 30px 0;
}
.array-methods-list ul li {
  color: #8279ff;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#methods-object {
  margin-top: 100px;
}

.object-methods-title h1 {
  color: #acdeff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.object-methods-title h3 {
  color: #f5ffb9;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.object-methods-title p {
  color: #eee;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.object-methods-title p a {
  color: #009aff;
}

.object-methods-list {
  text-align: center;
  margin-top: 30px;
}
.object-methods-list h2 {
  color: #49ffaf;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.object-methods-list ul {
  margin: 30px 0;
}
.object-methods-list ul li {
  color: #8279ff;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#function-declaration {
  margin-top: 100px;
}

.function-title {
  text-align: center;
}
.function-title h1 {
  color: #49ffaf;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.function-title h3 {
  margin: 10px 0;
  color: #fea150;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.function-title p {
  color: #eee;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.function-content {
  margin: 30px 0;
}

.function-declaration-example {
  padding: 15px;
  background: #f2f1f1;
  border-radius: 5px;
}

code {
  color: #000;
}

.token.keyword {
  color: #0069c2;
}

.token.function {
  color: #d30038;
}

.token.punctuation {
  color: #9e9e9e;
}

.token.comment {
  color: #9e9e9e;
}

.function-declaration-description {
  margin-top: 30px;
}
.function-declaration-description p {
  color: #ec6f5d;
}
.function-declaration-description p span {
  color: #8279ff;
}

#arrow-function {
  margin-top: 100px;
}

.arrow-function-example div {
  background: #f2f1f1;
  border-radius: 5px;
  padding: 10px;
}
.arrow-function-example h2 {
  color: #50eafe;
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

#dom-elements {
  margin-top: 50px;
}

.dom-elements-title {
  text-align: center;
}
.dom-elements-title h1 {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.dom-elements-title p {
  color: #eee;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.prepend-element,
.append-element,
.outer-html,
.query-selector,
.query-selector-all,
.get-element-by-id,
.get-elements-by-tag-name,
.get-elements-by-class-name,
.inner-html,
.create-element,
.create-text-node,
.class-list,
.insert-adjacent-element,
.insert-adjacent-html,
.insert-adjacent-text {
  margin: 10px 0;
}
.prepend-element h1,
.append-element h1,
.outer-html h1,
.query-selector h1,
.query-selector-all h1,
.get-element-by-id h1,
.get-elements-by-tag-name h1,
.get-elements-by-class-name h1,
.inner-html h1,
.create-element h1,
.create-text-node h1,
.class-list h1,
.insert-adjacent-element h1,
.insert-adjacent-html h1,
.insert-adjacent-text h1 {
  text-align: center;
  color: #8279ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.prepend-element p,
.append-element p,
.outer-html p,
.query-selector p,
.query-selector-all p,
.get-element-by-id p,
.get-elements-by-tag-name p,
.get-elements-by-class-name p,
.inner-html p,
.create-element p,
.create-text-node p,
.class-list p,
.insert-adjacent-element p,
.insert-adjacent-html p,
.insert-adjacent-text p {
  color: #eee;
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.prepend-element h3,
.append-element h3,
.outer-html h3,
.query-selector h3,
.query-selector-all h3,
.get-element-by-id h3,
.get-elements-by-tag-name h3,
.get-elements-by-class-name h3,
.inner-html h3,
.create-element h3,
.create-text-node h3,
.class-list h3,
.insert-adjacent-element h3,
.insert-adjacent-html h3,
.insert-adjacent-text h3 {
  margin: 10px 0;
  text-align: center;
  color: #fea150;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.prepend-element div,
.append-element div,
.outer-html div,
.query-selector div,
.query-selector-all div,
.get-element-by-id div,
.get-elements-by-tag-name div,
.get-elements-by-class-name div,
.inner-html div,
.create-element div,
.create-text-node div,
.class-list div,
.insert-adjacent-element div,
.insert-adjacent-html div,
.insert-adjacent-text div {
  background: #f2f1f1;
  border-radius: 5px;
  padding: 10px;
}
.prepend-element ul,
.append-element ul,
.outer-html ul,
.query-selector ul,
.query-selector-all ul,
.get-element-by-id ul,
.get-elements-by-tag-name ul,
.get-elements-by-class-name ul,
.inner-html ul,
.create-element ul,
.create-text-node ul,
.class-list ul,
.insert-adjacent-element ul,
.insert-adjacent-html ul,
.insert-adjacent-text ul {
  text-align: center;
  margin: 10px 15px;
  list-style: square;
  color: #acdeff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.prepend-element ul span,
.append-element ul span,
.outer-html ul span,
.query-selector ul span,
.query-selector-all ul span,
.get-element-by-id ul span,
.get-elements-by-tag-name ul span,
.get-elements-by-class-name ul span,
.inner-html ul span,
.create-element ul span,
.create-text-node ul span,
.class-list ul span,
.insert-adjacent-element ul span,
.insert-adjacent-html ul span,
.insert-adjacent-text ul span {
  color: #d30038;
}

#footer {
  margin-top: auto;
  background: #00243e;
}

.copyright {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.copyright span {
  color: #8279ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.copyright p span {
  color: #ff5c5c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}